@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*----------------------------------------------------------------------- */
.btn {
  cursor: pointer; }

.abs {
  position: absolute;
  display: block; }

#videoPlayer {
  display: block;
  position: relative;
  z-index: 50;
  width: 550px;
  height: 366px;
  background-color: #000;
  margin: auto; }

#v_controls_cbg {
  position: absolute;
  background-color: #000;
  opacity: 0.9;
  width: 100%;
  height: 25px; }

.v_controls_bb {
  text-shadow: 0px 0px 14px black; }

#v_controls_scrubber {
  background-color: #000; }
  #v_controls_scrubber #v_controls_scrubber_progress {
    background-color: #222; }
  #v_controls_scrubber #v_controls_scrubber_playback {
    background-color: #CCC; }
