html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="style.css")
		script(type="text/javascript",src="https://s0.2mdn.net/ads/studio/Enabler.js")
		script(type="text/javascript",src="prerequisite.js")
	body

		#mainContainer

		script(type="text/javascript",src="main.js")