!!!5
html
	head
		title CHANGELOG
		link(rel="stylesheet", type="text/css", href="../../../f/c/changelog.css")
	body

		header CHANGELOG

		section
			h1 1.1
			ul
				li renamed to child.js

			h1 1.0 (unavailable)
			ul
				li initial release