!!!5
html
	head
		title CHANGELOG
		link(rel="stylesheet", type="text/css", href="../../../f/c/changelog.css")
	body

		header CHANGELOG

		section

			h1 1.3
			ul
				li renamed JS file to "expandObj.js"
				li removed the need for external css
				li various fallbacks depending on unit state (and errors)
			
			h1 1.2
			ul
				li renamed "userExpand" key to "expand"
				li renamed "userCollapse" key to "collapse"
			
			h1 1.1 (unavailable)
			ul
				li converted to "expanding" object/class
				li intergrated preloader function (preload)
				li added provision for custom intro actions (intro)
				li added provision for custom expand actions (userExpand)
				li added provision for custom collapse actions (userCollapse)
			
			h1 1.0 (unavailable)
			ul
				li initial release	