!!!5
html
	head
		title CHANGELOG
		link(rel="stylesheet", type="text/css", href="../../../f/c/changelog.css")
	body
		
		header CHANGELOG

		section
			h1 1.2
			ul
				li changed default collapsed dimensions to 300x250
				li changed default expanded dimensions to 500x250
				li changed default expand direction to LEFT
				li renamed "userExpand" to "expand"
				li renamed "userCollapse" to "collapse"
				li removed the need for external css
				li various fallbacks depending on unit state (and errors)
				li added dedicated expanding button reference (#exp_btn)
			
			h1 1.1
			ul
				li converted to "expanding" object/class
				li intergrated preloader function (preload)
				li changed default animation delay to .5 seconds
				li added provision for custom intro actions (intro)
				li added provision for custom expand actions (userExpand)
				li added provision for custom collapse actions (userCollapse)
			
			h1 1.0 (unavailable)
			ul
				li initial release