!!!5
html
	head
		meta(name="description",content="Nargalzius")
		title nargalzius
		link(rel="stylesheet", type="text/css", href="f/c/main.css")
	body

		// HEADER
		header.inner
			h1 nargalzius.github.io
			h2 byline

		// MAIN CONTENT
		section#main_content.inner
		
		// FOOTER
		#footer_wrap.outer
			footer
				a(href="https://github.com/nargalzius") View on GitHub