!!!5
html
	head
		title Map Shiv for gmaps.js
		link(rel="stylesheet", type="text/css", href="../../../f/c/readme.css")

		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js")

	body
		
		header#info

			img#logo(src="../../../img/joystick/logo.png")

			:markdown
				Joystick Map Helper for gmaps.js
				--------------------------------

				### Resources

				- [Getting Started](#usage)
				- [Sandbox]() (codepen)
				- [Full Documentation](#api)  
				- [Latest Build](http://nargalzius.github.io/ajax/joystick/gmaps_helper/latest/gmaps_helper.js) (.js)
				- [Changelog](#changelog)

				### Dependencies

				- [jQuery](http://jquery.com)
				- [GoogleMaps API](http://maps.google.com/maps/api/js?sensor=true)
				- [gmaps.js](http://hpneo.github.io/gmaps)

		section#usage

			h2 Quick Start

			p Include the following scripts in your document's <code>&lt;head></code>

			pre.syntax.
				<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
				<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
				<script src="http://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.3/gmaps.min.js"></script>
				<script src="http://nargalzius.github.io/ajax/joystick/gmaps_helper/latest/gmaps_helper.js"></script>

			p Here is the minimum markup you'll need

			pre.syntax.
				<div id="map"></div>

			p Finally, initialize it like so:

			pre.syntax.
				<script>
					$(document).ready(function(){
						shiv.init();
					});
				</script>

			p Take note that the actual GMaps object of gmaps.js is initialized through the shiv. However, the `map` variable is reserved and assigned to the main map object when initialized. This means you can still access the main GMaps object normally through `map` (i.e. `map.hideInfoWindows()` & `shiv.proxy.hideInfoWindows` & `shiv.hidePopups()` to the same thing)

			:markdown
				Again, this is _minimal_ code to get things working. Be sure to check out all the other "features" by playing with it in the [sandbox](http://codepen.io/nargalzius/pen/epftA)


		section#api
			:markdown
				API
				---

				- **`preload`**`:array =` _`null`_

					Accepts a series of image urls. If present/set The container will delay displaying itself until all the images have been loaded to the cache. This in effect will ensure that everything is ready (for animations, etc.) by the time the user sees it.

				- **`content`**`:DOM element =` _`$('#content')`_

					The overall `div` that contians all visible elements. It's important to use/set this value when doing a preload, as it automatically hides the container (i.e. everything) until it's ready to show.

				- **`intro`**`:function =` _`null`_

					Allows you to set a custom intro function. By default, when the unit is ready to be shown, it simply fades-in. When `intro` is set, it instead immediately sets the opacity container to visible - and relies on your custom animation code for "flair."

		section#changelog

			:markdown
				Changelog
				---------

				# [1.2](http://nargalzius.github.io/ajax/joystick/dom_loader/1.2/domLoader.js)
					- Converted/integrated spinner to a pure JS generated one (using [spin.js](http://fgnass.github.io/spin.js))
					- Class/object name is now `dom` (formerly `expandChild`)
					- Adjusted TweenLite method to `fromTo` (formerly `to`) to make sure it starts invisible no matter what

				# [1.1](http://nargalzius.github.io/ajax/joystick/dom_loader/1.1/domLoader.js)

					- Renamed from `expandChild.js` to `domLoader.js`

				# [1.0](http://nargalzius.github.io/ajax/joystick/dom_loader/1.0/expandChild.js)

					- Initial release

		script.
			$(document).ready(function() {
				$('pre.syntax').each(function(i, e) {hljs.highlightBlock(e)});
			});