version = '1.5'

!!!5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		title Joystick Expandable Lightbox Class
		link(rel="stylesheet", type="text/css", href="../../../f/c/readme.css")

		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js")

	body
		
		header#info

			img#logo(src="../../../img/joystick/logo.png", alt="Joystick Interactive")

			:markdown

				Joystick HTML Expandable Lightbox
				=================================

				An implementation of an expandable ad, but it does it by loading an external file through a [Lightbox](https://github.com/buckwilson/Lightbox_me) (iFrame).

				This was created when I had to make a series of lightbox-based demos based on an existing ones - and realized that most if not all of them didn't have enough abstraction to be reusable without major tinkering for each implementation.

				I've improved the implementation, by sepearating the actual lightbox features and common animations present in all the demos, and a provision to inject other animations as callbacks. This allows a practical way of customization on both collapsed/expanding behavior without having to touch the core functionality.

				I also added some other useful features - such as allowing an easy way to change the Lightbox width and height, image preloader, as well as being CSS agnostic as far as the core functionality goes. Best read the [API](#api) or try it on the [sanbox](http://cdpn.io/LGpDJ) to see all that it can do.

			h3 Resources

			ul
				li 
					a(href="#usage") Getting Started
				li 
					a(target="_blank", href="http://cdpn.io/LGpDJ") Sandbox
					|  (codepen)
				li 
					a(href="#api") Full Documentation
				li 
					a(target="_blank", href="http://nargalzius.github.io/ajax/joystick/expanding_lightbox/#{version}/expandObj.js") Latest Build
					|  (.js)
				li 
					a(href="http://nargalzius.github.io/downloads/expanding_lightbox/sample_#{version}.zip") Sample File
					|  (.zip)
				li 
					a(href="#changelog") Changelog

			:markdown

				### Dependencies

				- [jQuery](http://jquery.com) 
				- [GreenSock Animation Platform](http://www.greensock.com/gsap-js) 
				- [Lightbox\_me](https://github.com/buckwilson/Lightbox_me) 

		section#usage

			:markdown

				Quick Start
				===========

				Include the following scripts in your document's `<head>`

			.fullCode
				pre.syntax.html.
					<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
					<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
					<script src="http://nargalzius.github.io/ajax/lightbox_me/2.3/jquery.lightbox_me.js"></script>
					<script src="http://nargalzius.github.io/ajax/joystick/expanding_lightbox/#{version}/expandObj.js"></script>

			:markdown

				Here is the minimum markup you'll need. The `.sans` class is optional (the script automatically applies sans-serif fonts to the class)

			.fullCode
				pre.syntax.html.
					<!-- EXPANDED SECTION-->
					<div id="expanded">
						<a id="close"><img src="http://nargalzius.github.io/img/joystick/lightbox_close.png" class="btn" /></a>
						<iframe id="expandFrame" src="about:blank" scrolling="no" frameborder="0" class="iframe_cont"></iframe>
					</div>
					<!-- COLLAPSED SECTION-->
					<div id="collapsed" class="sans">
						<div id="content">
							<button id="exp_btn" class="btn"></button>
							<div id="expandText">Expanding...</div>
							<div id="expandBar"></div>
							<div id="col_bg"></div>
							<!-- MORE COLLAPSED CONTENT HERE -->
						</div>
					</div>

			p Finally, initialize it like so:

			.fullCode
				pre.syntax.javascript.
					$(document).ready(function(){
						expanding.init();
					});

			:markdown
				Again, this is _minimal_ code to get things working. Be sure to check out all the other "features" by playing with it in the [sandbox](http://codepen.io/nargalzius/pen/LGpDJ)

		section#api
			
			:markdown

				API
				===

			ul
				li
					strong
						code.property minW 
					code.property : number = 
					em 
						code.property 300
					br
					strong
						code.property minH 
					code.property : number = 
					em 
						code.property 250
					br
					strong
						code.property maxW 
					code.property : number = 
					em 
						code.property 500
					br
					strong
						code.property maxH 
					code.property : number = 
					em 
						code.property 250

					:markdown

						The collapsed/expanded width/height. All [main] elements/animations (i.e. expanding bar & animation, etc.) are automatically positioned based on these values.

			ul
				li
					strong
						code.property preload 
					code.property : array = 
					em 
						code.property null

					:markdown

						Accepts a series of image urls. If present/set The unit will delay displaying itself until all the images have been loaded to the cache. This in effect will ensure that everything is ready (for animations, etc.) by the time the user sees it.

			ul
				li
					strong
						code.property rollover 
					code.property : boolean = 
					em 
						code.property true
				
					p Sets the _type_ of expand trigger. Set to `false` if you wish for _click-to-expand_ functionality
					
					p An expansion triggered by a click will bypass the expanding bar animation and immediately call the lightbox.
			ul
				li
					strong
						code.property hold 
					code.property : boolean = 
					em 
						code.property true
					
					:markdown

						This flag was created to avoid accidentally triggering an expand for `rollover` enabled units. This is set to `true` by default. This essentially requires the user to keep the mouse over the trigger for a certain amount of time before the unit triggers the expand.

			ul
				li
					strong
						code.property delay 
					code.property : number = 
					em 
						code.property 1

					:markdown

						If `hold` is set to *`true`*, this serves as the threshold of which a user must keep the cursor over the trigger in order to expand the unit.

						If `hold` is set to *`false`*, this acts as a "rigged" tween duration (for the expanding bar) before the ad expands.

						If `rollover` is set to *`false`*, (i.e. _click-to-expand),_ this value is ignored.

						It's worth reiterating that expansions triggered through clicking (when avaiable) will **always** bypass the expanding bar animation and immediately call the lightbox.
			ul
				li
					strong
						code.property trigger 
					code.property : DOM element = 
					em 
						code.property $('#exp_btn')

					:markdown

						Sets the expand trigger. By default, the entire collapsed unit is the trigger. But if you set it to a DOM element, only interaction with that element will trigger the expland.
						
						If `exit` is set, the trigger will do the expand action while the background will clicktrhough. If it's not, then **clicking** on the background will trigger a manual expand.

			ul
				li
					strong
						code.property exit 
					code.property : string = 
					em
						code.property null
					
					:markdown

						Intended for a URL string. If set, then the collapsed background (assuming `trigger` is set) and expanded background will be set to click-though to the exit URL.

			ul
				li
					strong
						code.property intro 
					code.property : function = 
					em
						code.property null

					:markdown

						Allows you to set a custom intro function. By default, when the unit is ready to be shown, it simply fades-in the collapsed state. When `intro` is set, it instead immediately sets the opacity of the collapsed container to visible - and relies on your custom animation code for "flair."

						Triggers (click and/or rollover) for expansion will only work when the `isReady` variable is set to true. Normally, this is set automatically (e.g. after preloading or a straight-up `init()` without special parameters.

						Enabling the custom intro disables this process. And the user is required to manually set the `isReady` after the [custom] animation is done. This can be achieved by either setting the variable directly (`expanding.isReady = true`) or calling the `expanding.ready()` function.

						If the `exit` variable is set, clicking on the ad during the intro will result in a clickthrough action. This will then revert to the normal expansion action once the `isReady` is finally set to *`true.`*

			ul
				li
					strong
						code.property expand 
					code.property : function = 
					em
						code.property null

					:markdown

						Similar to `intro`, this allows you to run custom actions on expand should you need to.

			ul
				li
					strong
						code.property collapse 
					code.property : function = 
					em
						code.property null

					:markdown

						Similar to `intro`, this allows you to run custom actions on collapse should you need to.

			ul
				li
					strong
						code.property exp_url 
					code.property : string = 
					em
						code.property 'expanded.html'

					:markdown

						Expanded url to be loaded into the lightbox (iframe). Default is `expanded.html` located in the same directory as the index file.

			ul
				li
					strong
						code.property isLegacy 
					code.property : boolean = 
					em
						code.property false

					:markdown

						Normally, the expanding bar spans the entire width of the unit regardless of it's size. Setting `isLegacy` to *`true`* forces the script to use the old "expanding" animation (22px height, 128px max bar width, mixed case Verdana, etc.)


		section#changelog

			:markdown

				Changelog
				=========

				## [1.5](http://nargalzius.github.io/ajax/joystick/expanding_lightbox/1.5/expandObj.js)

					- Added `isLegacy` flag (to use the old way of animating the expanding bar)

				## [1.4](http://nargalzius.github.io/ajax/joystick/expanding_lightbox/1.4/expandObj.js)

					- Converted/integrated spinner to a pure JS generated one (using [spin.js](http://fgnass.github.io/spin.js))

				## [1.3](http://nargalzius.github.io/ajax/joystick/expanding_lightbox/1.3/expandObj.js)
				
					- Renamed JS file from `expandLightboxObj` to `expandObj.js`
					- Removed need for external css for core functionality
					- Various fallbacks depending on unit state (and errors)

				## [1.2](http://nargalzius.github.io/ajax/joystick/expanding_lightbox/1.2/expandLightboxObj.js)

					- Renamed `userExpand` method to `expand`
					- Renamed `userCollapse` method to `collapse`

				## 1.1

					- Converted to `expanding` object/class
					- Intergrated `preload` (image preloader) function
					- Added `intro` method for custom intro actions
					- Added `userExpand` method for custom expand actions
					- Added `userCollapse` method for custom collapse actions

				## 1.0

					- Initial release

		script.
			$(document).ready(function() {
				$('#usage pre').each(function(i, e) {hljs.highlightBlock(e)});
			});