!!!5
html
	head
		title Joystick Generic DOM Loader
		link(rel="stylesheet", type="text/css", href="../../../f/c/changelog.css")

	body
		
		header#info
			:markdown
				Joystick Generic DOM Loader
				---------------------------

				[Latest Build](http://nargalzius.github.io/ajax/joystick/dom_loader/latest/domLoader.js)  
				[Sandbox](http://codepen.io/nargalzius/pen/epftA)  
				[Documentation](#api)  
				[Change log](#changelog)

				Requires

				- [jQuery](http://jquery.com) 
				- [GreenSock Animation Platform](http://www.greensock.com/gsap-js)

		section#usage	
			h3 Quick Example
			
			pre.
				<!-- REQUIRED SCRIPTS -->
				<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
				<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
				<script src="http://nargalzius.github.io/ajax/joystick/dom_loader/latest/domLoader.js"></script>
				
				<!-- CONTENT -->
				<div id="container" class="sans">
				<div id="content">
					<!-- CONTENT HERE -->
					<div id="placeholder">
						CONTENT
					</div>
				</div>
				</div>
				
				<!-- INITIALIZE -->    
				<script>
					$(document).ready(function(){
						dom.init()
					});
				</script>

		section#api
			:markdown
				# CONTENT

		section#changelog

			:markdown
				Change log
				----------

				## [1.2](http://nargalzius.github.io/ajax/joystick/dom_loader/1.2/domLoader.js)
					- converted spinner to pure JS (using [spin.js](http://fgnass.github.io/spin.js))
					- class/object name is now `dom` (formerly `expandChild`)
					- adjusted TweenLite method to `fromTo` (formerly `to`) to make sure it starts invisible no matter what

				## [1.1](http://nargalzius.github.io/ajax/joystick/dom_loader/1.1/domLoader.js)

					- renamed from `expandChild.js` to `domLoader.js`

				## [1.0](http://nargalzius.github.io/ajax/joystick/dom_loader/1.0/expandChild.js)

					- initial release	